[Unit]
Description=Recaller webapp

[Service]
WorkingDirectory={{ microservice_dir }}
ExecStart={{ microservice_dir }}/.venv/bin/python3 main.py --port {{ service_port }}
Restart=on-failure

[Install]
WantedBy=default.target
